<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fibonacci app</title>

        <script>
            async function getFibonacciValueFromBackend(position) {
                const response = await fetch('http://localhost:12345/calculate/' + position.toString());
                return response.json();
            }

            function updateValue() {
                let valueInput = document.getElementById('fibonacci_input');
                let valueOutput = document.getElementById('fibonacci_value');
                 
                let requestedValue = parseInt(valueInput.value)
                getFibonacciValueFromBackend(requestedValue).then(val => 
                    val['requested_value_too_big'] ? 
                        valueOutput.innerHTML = '<b>Too big number!</b>'
                    :
                        valueOutput.innerHTML = val['value']
                    
                );
            }
        </script>
    </head>

    <body>
        <label for="fibonacci_input">Enter the number of element in Fibonacci sequence to calculate:</label>
        <input type="text" id="fibonacci_input" name="fibonacci_input"/>
        <button type="button" id="fibonacci_calculate" name="fibonacci_calculate" onClick="updateValue();">Gimme number!</button>
        <br>
        <div id="fibonacci_value"></div>
    </body>
</html>